<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">O mnie</h2>
              <hr class="divider light my-4">
              <p class="text-white-50 mb-4">
                  <a style="color:white;font-size:large;">
                      Posiadam trzydziestoletnie do&#347;wiadczenie w kryminalistyce - w tym wieloletnia praca w Policyjnym Laboratorium Kryminalistycznym.  W trakcie pracy w Laboratorium Kryminalistycznym wielokrotnie uczestniczy&#322;em w ogl&#281;dzinach miejsc najpowa&#380;niejszych przest&#281;pstw. Podczas swojego sta&#380;u wykona&#322;em kilka tysi&#281;cy ekspertyz kryminalistycznych z dziedziny daktyloskopii i wizualizacji &#347;lad&oacute;w linii papilarnych. Od kilkunastu lat realizuj&#281; badania daktyloskopijne i wykonuj&#281; opinie kryminalistyczne jako <br />
                      <a style="color: #C0C0C0; font-size: large; " target="_blank" href="https://gliwice.so.gov.pl/container/biegli/Biegli-lista_aktualna.pdf">Bieg&#322;y S&#261;du Okr&#281;gowego w Gliwicach[LINK].</a>
                      <a style="color:white;font-size:large;"> Realizuj&#281; r&oacute;wnie&#380; wyk&#322;ady z zakresu kryminalistyki.</a><br />
                      <h2 style="color:white">Certyfikaty</h2>
                      <hr class="divider light my-4">
                      <div class="" style="text-align:left;">
                          <ul>
                              <li style="color:white">
                                  <a style="color: #C0C0C0; " target="_blank" href="https://drive.google.com/file/d/19H81_b9miYJL5bSHmmii_FD2QX_vgdYG/view?usp=sharing">Nowe metody i techniki w ujawnianiu &#347;lad&oacute;w linii papilarnych. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0; " target="_blank" href="https://drive.google.com/file/d/1DYrEND-QbayuAvuqHridHXQYZxivsazl/view?usp=sharing">Obs&#322;uga komory cyjanoakrylowej firmy AirScience USA LLC. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0; " target="_blank" href="https://drive.google.com/file/d/1qFTETUjTqoI_VUni8tfjvPCuBZBiwAaO/view?usp=sharing ">Obs&#322;uga o&#347;wietlacza kryminalistycznego Polilight model PL550 XL marki ROFIN. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0;" target="_blank" href="https://drive.google.com/file/d/1owczBCRk2o3uNYdhORhLqrLcBEXnuHHd/view?usp=sharing">Specjalno&#347;&#263; z wizualizacji &#347;lad&oacute;w. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0;" target="_blank" href="https://drive.google.com/file/d/1wow8QSo-0ibYV0ZSYyxjZ8CVt6oFOTsL/view?usp=sharing">Nowoczesne metody chemiczne w wizualizacji &#347;lad&oacute;w daktyloskopijnych. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0;" target="_blank" href="https://drive.google.com/file/d/1TXxnYuh-rjbmJCVfM6SMD_sRz95P2muU/view?usp=sharing">U&#380;ytkowanie systemu CS-17 LIMS. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0;" target="_blank" href="https://drive.google.com/file/d/1k3iAZRaWSTw2wP_RlfIJQ7bw9YOZxYN-/view?usp=sharing">Ekspert daktyloskopii. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0;" target="_blank" href="https://drive.google.com/file/d/1H9gLL6dkLskNmOyV9YMnhlNu48cgge89/view?usp=sharing">Obs&#322;uga Cieplarki Laboratoryjnej C-100G. [LINK]</a>
                                  <br />
                              </li>
                              <li style="color:white">
                                  <a style="color: #C0C0C0;" target="_blank" href="https://drive.google.com/file/d/1OIvKpvSgczS8sE_HA1ndt2BrOFaR51D8/view?usp=sharing">Uko&#324;czenie doskonalenia zawodowego w zakresie zmian w Kodeksie Post&#281;powania Karnego. [LINK]</a>
                                  <br />
                              </li>
                          </ul>
                      </div>
</p>
      </div>
    </div>
  </div>
</section>
