<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Dane Kontaktowe</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">
                    W razie pyta&#324; prosz&#281; o kontakt.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div style="margin-bottom:25px"><a>+48 792-253-561</a></div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in anchor text AND the link below! -->
                <a class="d-block" href="mailto:krystianmachonbiegly@gmail.com">krystianmachonbiegly@gmail.com</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container text-center">
        <h2 class="mb-4">Media Spo&#322;eczno&#347;ciowe</h2>
        <hr class="divider my-4">
        <a class="" target="_blank" href="https://www.linkedin.com/in/krystian-macho%C5%84-aa3ab8269/"><img height="80" width="80" style="margin:10px" src="/assets/images/linkedin.png"/></a>
        <a class="" target="_blank" href="https://www.facebook.com/profile.php?id=100090685645406"><img height="80" width="80" style="margin:10px" src="/assets/images/facebook.png"/></a>
    </div>
</section>
