<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">
                    krystian macho&#324;, <br>
                    bieg&#322;y s&#261;dowy
                </h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5" style="color: white; font:bold">Bieg&#322;y s&#261;dowy z dziedziny daktyloskopii, wykonuj&#281; ekspertyzy dla instytucji pa&#324;stwowych oraz prywatnych. Ponad 30 lat do&#347;wiadczenia pracy w policji w laboratorium kryminalistycznym.</p>
                <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Wi&#281;cej o mnie</a>-->
            </div>
        </div>
    </div>
</header>
