<!-- Portfolio Section -->
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="assets/images/portfolio/thumbnails/1.jpg" alt="">
          <div class="portfolio-box-caption">
            
              <div class="project-name">
                  &#346;lad linii papilarnych ujawniony metod&#261; cyjanoakrylow&#261;, kontrastowany ardroxem.
              </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="assets/images/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            
              <div class="project-name">
                  &#346;lad linii papilarnych ujawniony metod&#261; cyjanoakrylow&#261;, kontrastowany basic yellow.
              </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="assets/images/portfolio/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
           
              <div class="project-name">
                  Porownanie &#347;ladu d&#322;oni po procesach badawczych - cyjanoakryl/ardrox.
              </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="assets/images/portfolio/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
               
            <div class="project-name">
              Linie papilarne ujawnione cyjanoakrylanem na powierzchni broni.
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="assets/images/portfolio/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            
            <div class="project-name">
              Linie papilarne ujawnione na szyjce butelki srebrnym proszkiem daktyloskopijnym.
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="assets/images/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            
              <div class="project-name">
                  &#346;lady ujawnione cyjanoakrylanem na trzonku siekiery.
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
