<!-- Services Section -->
<section class="page-section" id="services">
    <div class="container text-center">
        <h2 class="text-center mt-0">Co oferuj&#281;?</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Wykonywanie Ekspertyz</h3>
                    <p class="text-muted mb-0">Wykonywanie ekspertyz identyfikacyjnych z zakresu bada&#324; daktyloskopijnych oraz wizualizacji &#347;lad&#243;w linii papilarnych.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Ujawnianie &#347;lad&#243;w linii papilarnych</h3>
                    <p class="text-muted mb-0">
                        Ujawnianie &#347;lad&#243;w linii papilarnych na r&#243;&#380;nych typach pod&#322;o&#380;a np.: papier, plastik, szk&#322;o, metal itp.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Uczestnictwo w ogl&#281;dzinach</h3>
                    <p class="text-muted mb-0">Uczestnictwo w ogl&#281;dzinach miejsc zdarze&#324; po&#322;&#261;czone z zabezpieczaniem &#347;lad&#243;w z uwzgl&#281;dnieniem &#347;lad&#243;w daktyloskopijnych.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Ocena materia&#322;u dowodowego</h3>
                    <p class="text-muted mb-0">
                        Ocena materia&#322;u dowodowegou u zleceniodawcy, okre&#347;lenie mo&#380;liwo&#347;ci jego wykorzystania w badaniach oraz wskazanie terminu realizacji ekspertyzy.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container" style="align-content:center">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Konsultacje</h3>
                    <p class="text-muted mb-0">Konsultacje z innymi bieg&#322;ymi z zakresu bada&#324; kryminalistycznych.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Wykonywanie odcisk&#243;w palc&#243;w</h3>
                    <p class="text-muted mb-0">Wykonywanie odcisk&#243;w palc&#243;w na kartach daktyloskopijnych.</p>
                </div>
            </div>
        </div>
    </div>
</section>
